## Turn on mod_rewrite
#RewriteEngine On
#
## Only rewrite URL for files that don't exist
#RewriteCond %{REQUEST_FILENAME} !-f 
#
#RewriteRule ^(.*)$ /cgitest/test.py/$1 [QSA,L]

#AuthType Ucam-WebAuth
#Require valid-user

<Files killroquepython.py>
  AuthType Ucam-WebAuth
  Require valid-user
</Files>

#<Files test2.py>
#  AuthType Ucam-WebAuth
#  Require valid-user
#</Files>
